/* HEADER FORM */
.header-form {
    background: linear-gradient(135deg, #213C51, #2e536d);
    color: white;
}

/* FORM CARD */
.form-card {
    border-radius: 16px;
}
.section-box {
    background: #f9f9f9;
    border-radius: 12px;
}

/* TITLE SECTION */
.form-card h5 {
    font-weight: 600;
    color: #213C51;
    border-left: 4px solid #213C51;
    padding-left: 10px;
}

/* INPUT CUSTOM (BIAR HALUS DIKIT) */
.form-control,
.form-select {
    background: #fafafa;
    border: 1px solid #e5e5e5;
}

.form-control:focus,
.form-select:focus {
    border-color: #213C51;
    box-shadow: 0 0 0 0.15rem rgba(33,60,81,0.15);
}

/* BUTTON CUSTOM */
.btn-primary {
    background: #213C51;
    border: none;
}

.btn-primary:hover {
    background: #2e536d;
}