/* NAVBAR SECTION */
.navbar {
    background-color: #213C51;
}

/* HERO SECTION */
#hero {
  position: relative;
  background: linear-gradient(135deg, #2C4A5E, #3A6D8C, #6FA3C8);
  color: white;
  overflow: hidden;
}

#hero::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  top: -80px;
  left: -80px;
}

#hero::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: rgba(255,255,255,0.08);
  border-radius: 50%;
  bottom: -80px;
  right: -80px;
}


/* TOMBOL LOGIN DAN REGISTER */
/* tombol register */
.btn-brand-me {
    background-color: #FFB347;
    color: #EEEE;
    border: none;
}
.btn-brand-me:hover {
    background-color: #e28f11;
    color: #EEEE;
}
/* tombol login */
.btn-outline-brand {
    border: 2px solid #FFB347;
    color: #EEEE;
}
.btn-outline-brand:hover {
    background-color: #FFB347;
    color: #EEEE;
}


